# GNU Files
**/.deps
**/.directory
**/.dirstamp
**/Makefile
**/Makefile.in
**/*.o
**/*.a
/archived
/autom4te.cache
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1
/src/main
/TODO

# Visual Studio Files
/x64/Debug
/x64/Release
*.db
*.suo
*.opendb
*.json
*.sqlite
.vs
